.prueba{
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 1000px;
    position: relative;
    left: 0px;

}

.btn-bonito{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    color:rgb(255, 255, 255);
    transition: 1s;
    padding: 100px;
    border-radius: 30px;
    font-size: 50px;
}

.btn-bonito:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}